/* For title border we need to switch padding/margins */
.tc-titlebar {
    line-height: 1.20em;
    margin: 0;
    padding: 15px 15px 5px 15px;
}
input.tc-titlebar.tc-edit-texteditor {
    padding-left: 10px;
}
.tc-subtitle {
    padding: 0 15px 0 15px;
}
.tc-tags-wrapper {
	margin: 9px 0px -1px 0;
    border-top: 1px solid #444c56;
    padding: 0 10px 0 10px;
}
.tc-tiddler-body {
    padding: 10px 15px;
    border-top: 1px solid #444c56;
}

/* Edit tiddler */
span.tc-tiddler-controls.tc-titlebar {
    margin: 0;
    padding: 5px 0px 10px 0px;
}
.tc-tiddler-frame.tc-tiddler-edit-frame.tc-tiddler-exists {
    padding: 10px !important;
}

/* Username not required */
.tc-subtitle .tc-tiddlylink {
    display: none;
}

/* Style subtitle */
.tc-site-subtitle {
    color: #316dca;
}

/* Add margin to pills */
.tc-tags-wrapper .tc-tag-list-item {
	margin: 10px 5px 10px 2px;
}

/* Force anchors blue */
a {
    color: #539bf5;
    text-decoration: none !important;
    margin-right: 3px;
}

/* Force bg for all hljs classes */
.hljs {
    background: #2d333b;
}

/* Make lables inline */
label {
	display: inline-block;
}
.tc-sidebar-lists button {
    color: #768290;
    fill: #768290;
}
.tc-sidebar-lists label {
	margin-right: 3px;
}

/* Thin and round tiddler borders */
.tc-tiddler-frame {
    border: 1px solid #444c56;
    border-radius: 9px;
    padding: 0;
    margin-bottom: 13px;
}

/* Center and resize any image in title */
div.kbtitle {
    display: flex; 
    align-items: center;
}
img.kbtitle {
    margin-right:10px; 
    width: 40px;
    border-radius: 3px;
}

/* Style search input */
textarea, input[type=text], input[type=search], input[type=""], input:not([type]) {
    border: 1px solid #444c56;
    border-radius: 3px;
    padding: 5px;
    outline: none;
    margin-right: 5px;
}

/* Add some space under controls */
.tc-page-controls {
    margin-bottom: 12px;
}

/* Tweak pre-blocks */
pre {
    padding-top: 6px;
    padding-bottom: 6px;
    border-left: 5px solid #768390;
    padding-left: 10px;
    border-radius: 5px;
}

/* And code blocks */
code {
    border: none;
    font-size: 10pt;
    margin-right: 4px;
    font-family: hack, monaco, monospace;
}

/* Move the right panel up a bit */
body.tc-body .tc-sidebar-scrollable {
    padding-top: 41px;
    padding-left: 30px;
}

/* Darken the edit-tags panel */
.tc-edit-tags {
    background: #22272e;
    border: none;
    padding: 5px 0 0 0;
}

/* Placeholder */
::placeholder {
  color: #636e7b;
  opacity: 1; /* Firefox */
}

/* Prettify html buttons */
html button {
    line-height: 1.2;
    color: #758390;
    fill: #2e3440;
    background-color: #22272e;
    border: 1px solid #444c56;
    padding: 4px 13px;
    border-radius: 7px;
    cursor: pointer;
}

/* Remove border in CP */
.tc-control-panel div {
	border:none;
}
.tc-chooser-item {
    background: #343b44;
}

/* Editor toolbar - ease left */

.tc-editor-toolbar {
    margin-left: -4px;
    margin-bottom: 3px;
}

/* Editor, remove top/bottom field margin */
table.tc-edit-fields {
    margin: 0;
}

/* Tiddler editor control button bg */
.tc-editor-toolbar button {
    background-color: #22272e;
    color: #768290;
    fill: #768290;
    border: 1px solid #444c56;
}

/* Drop-down border */
.tc-drop-down {
    border: 1px solid #444c56;
}
.tc-block-dropdown {
    border: 1px solid #444c56;
}

/* FIXME: tabs so far */
.tc-tab-set  button:hover {
    background: #316eca;
    color: #d3e9ff;
}
.tc-tab-buttons button.tc-tab-selected {
    color: #cddaea;
    background-color: #425062;
}

.tc-sidebar-lists .tc-tab-buttons button.tc-tab-selected {
    background-color: #425062;
}

/* Style HR */
hr {
    height: 0;
    border: 0;
    border-top: 1px solid #444c56;
}

/* CodeMirror */
.cm-s-tiddlywiki.CodeMirror, .cm-s-tiddlywiki .CodeMirror-gutters {
    font-size: 10pt;
}

.cm-s-tiddlywiki .CodeMirror-activeline-background, .cm-s-tiddlywiki .CodeMirror-activeline-gutter .CodeMirror-linenumber {
    background: rgb(30 34 41);
}
.cm-s-tiddlywiki .CodeMirror-linenumber {
    color: #636e7b;
}
.cm-s-tiddlywiki .CodeMirror-dialog {
    background: #2d333b;
}
span.CodeMirror-search-hint {
	color: #99a2b2 !important;
}
.CodeMirror-dialog-top {
    border-bottom: 1px solid #4c5769;
    top: 0;
}
.cm-s-tiddlywiki.CodeMirror, .cm-s-tiddlywiki .CodeMirror-gutters {
    min-height: 79px;
}

